torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1

numpy==2.2.6
scipy==1.15.3

opencv-python==4.13.0.90
pillow==12.1.0

matplotlib==3.10.8
seaborn==0.13.2

scikit-learn==1.7.2

tqdm==4.67.1

visualkeras==0.2.0
torchinfo==1.8.0